#navy {
    background-color: #263645;
    height: 1px;
    border: none;
    margin-top: 50px;
    margin-bottom: 20px;
}

#blue{
    margin-top: 50px;
    background-color: #80BFFC;
    height: 1px;
    border: none;
}

#green{
    margin-top: 50px;
    background-color: #7FC982;
    height: 1px;
    border: none;
}

.about-header{
    font-weight: 400;
        font-family: 'Segoe UI', sans-serif;
        color: #263645;
        font-size: 2em;
        width: 50%;
        margin: 0 auto;
        padding-top: 50px;
}

