.product-background{
    background-color: #193E61;
    min-height: 400px;
      /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%; 
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;

}

.products-h1 {
    height: 90%; 
    width:100%;
    margin: 0%;
    padding: 0%;

    font-size: 2.5rem;
    font-weight: 100;
    color: white;
}

.products-p{

color: white;
}

.about-header-blue{
    font-weight: 400;
        font-family: 'Segoe UI', sans-serif;
        color: #80BFFC;
        font-size: 2em;
        width: 50%;
        margin: 0 auto;
        padding-top: 50px;
}

.about-header-green{
    font-weight: 400;
        font-family: 'Segoe UI', sans-serif;
        color: #7FC982;
        font-size: 2em;
        width: 50%;
        margin: 0 auto;
        padding-top: 50px;
}


img {
    max-width: 100%;
  }

  
  .show-cart li {
    display: flex;
  }
  .card {
    margin-bottom: 20px;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }

  .col {
    float: left;
    width: 33.33%;
  }

  img {
    max-width: 250px;
  }

  .gifts {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }